<navbar-component [pageName]="thisPage | translate"></navbar-component>
<ion-content class="content directory">
    <ion-grid>
        <ion-row>
            <ion-col width-33>
                <ion-card class="no-scroll">
                    <form (ngSubmit)="onSubmit(firstname, lastname, component, service, laboratory, structure)">
                        <ion-list>
                            <ion-item>
                                <ion-label>{{'directory.firstname' | translate}} :</ion-label>
                                <ion-input type="text" [(ngModel)]="firstname"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label>{{'directory.lastname' | translate}} :</ion-label>
                                <ion-input type="text" [(ngModel)]="lastname"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label>{{'directory.component' | translate}}</ion-label>
                                <ion-select [(ngModel)]="component">
                                    <ion-option value="nes">NES</ion-option>
                                    <ion-option value="n64">Nintendo64</ion-option>
                                    <ion-option value="ps">PlayStation</ion-option>
                                    <ion-option value="genesis">Sega Genesis</ion-option>
                                    <ion-option value="saturn">Sega Saturn</ion-option>
                                    <ion-option value="snes">SNES</ion-option>
                                </ion-select>
                            </ion-item>

                            <ion-item>
                                <ion-label>{{'directory.service' | translate}}</ion-label>
                                <ion-select [(ngModel)]="service">
                                    <ion-option value="nes">NES</ion-option>
                                    <ion-option value="n64">Nintendo64</ion-option>
                                    <ion-option value="ps">PlayStation</ion-option>
                                    <ion-option value="genesis">Sega Genesis</ion-option>
                                    <ion-option value="saturn">Sega Saturn</ion-option>
                                    <ion-option value="snes">SNES</ion-option>
                                </ion-select>
                            </ion-item>

                            <ion-item>
                                <ion-label>{{'directory.laboratory' | translate}}</ion-label>
                                <ion-select [(ngModel)]="laboratory">
                                    <ion-option value="nes">NES</ion-option>
                                    <ion-option value="n64">Nintendo64</ion-option>
                                    <ion-option value="ps">PlayStation</ion-option>
                                    <ion-option value="genesis">Sega Genesis</ion-option>
                                    <ion-option value="saturn">Sega Saturn</ion-option>
                                    <ion-option value="snes">SNES</ion-option>
                                </ion-select>
                            </ion-item>

                            <ion-item>
                                <ion-label>{{'directory.structure' | translate}}</ion-label>
                                <ion-select [(ngModel)]="structure">
                                    <ion-option value="nes">NES</ion-option>
                                    <ion-option value="n64">Nintendo64</ion-option>
                                    <ion-option value="ps">PlayStation</ion-option>
                                    <ion-option value="genesis">Sega Genesis</ion-option>
                                    <ion-option value="saturn">Sega Saturn</ion-option>
                                    <ion-option value="snes">SNES</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-list>
                        <div padding>
                            <button type="submit" uga block>{{'directory.search' | translate}}</button>
                        </div>
                    </form>
                </ion-card>
                <ion-card>
                    <ion-card-content text-justify>
                        {{'directory.explication' | translate}}
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col width-67  pdg-bot-cnt>

                <ion-label text-right *ngIf="data.length === 0 && submitted===true">Aucun resultats</ion-label>
                <ion-label text-right *ngIf="showData.length !== 0">{{'directory.results' | translate}} : {{showData.length}}/{{data.length}}</ion-label>

                <ion-list>
                    <ion-item *ngFor="let item of showData" (click)="openModal({data: item})">
                        <h2>{{item.firstname}} - {{item.lastname}}</h2>
                        <p>{{item.mail}}</p>
                        <ion-note item-right>{{item.phone}}</ion-note>
                    </ion-item>
                </ion-list>
                
                <ion-infinite-scroll *ngIf="!noMoreData" (ionInfinite)="doInfinite($event)">
                    <ion-infinite-scroll-content
                    loadingText="{{'loadingMore' | translate}}">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>