// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import "app.variables";


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


// Ionic Material Design Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.md";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import "app.core";


// App Material Design Only Sass
// --------------------------------------------------
// CSS that should only apply to the Material Design app

ion-spinner {
        width: 70px;
        height: 70px;
        stroke: #db2d2c;
        fill: #db2d2c;
        display: block;
        margin-top: 30%;
        margin-left: auto;
        margin-right: auto
}

.content {
        margin-top: 55px;
}

.toolbar-title {
        color: #db2d2c;
}

ion-thumbnail {
        min-width: 0; 
        min-height: 0;
}

ion-label {
        white-space: normal;
        font-size: 20px;
        text-align: justify;
}

ion-slides {
    height: 47.36%;
}

@media only screen and (min-height: 600px) and (min-width: 768px) {
        .modal-wrapper {
                position: absolute;
                top: calc(50% - (85%/2));
                left: calc(50% - (90%/2));
                width: 90%;
                height: 85%;
        }
}

