<navbar-component [pageName]="thisPage | translate"></navbar-component>
<ion-content class="content">
    <ion-spinner *ngIf="!loaded"></ion-spinner>
    <ion-grid>
        <ion-row>
            <ion-col width-67>
                <h3>{{'news.news' | translate}}</h3>
                <ion-list>
                    <ion-item class="item-news" *ngFor="let new of news" (click)="openModal({data: new, from: 'news.news'})">
                        <ion-thumbnail class="img-thumbnail" item-left>
                        <img src="assets/img/logo-uga.png">
                        </ion-thumbnail>
                        <p>{{new.title}}</p>
                        <p>{{new.pubDate | date:"dd/MM/yy"}}</p>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col width-33>
                <!--<ion-slides #mySlider [options]="mySlideOptions">
                    <ion-slide>
                        <img src="assets/img/grenoble.png">
                    </ion-slide>
                    <ion-slide>
                        <img src="assets/img/campus.png">
                    </ion-slide>
                    <ion-slide>
                        <img src="assets/img/logo-uga.png">
                    </ion-slide>
                </ion-slides>-->
                <ion-card>
                    <ion-card-header uga>
                        {{'news.events' | translate}}
                    </ion-card-header>

                    <ion-list>
                        <ion-item class="item-agd" *ngFor="let agd of agenda" (click)="openModal({data: agd, from: 'news.events' })">

                            <p>{{agd.title}}</p>
                            <p>{{agd.date | date:"dd/MM/yy à H:mm"}}</p>
                        </ion-item>
                    </ion-list>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
