<navbar-component [pageName]="thisPage | translate"></navbar-component>
<ion-content class="content">
    <ion-spinner mrg-top *ngIf="!loaded[0] && !loaded[1] && !loaded[2]"></ion-spinner>
    <ion-grid>
        <ion-row>
            <ion-col width-60 *ngIf="loaded[0]">
                <ion-list>
                    <ion-list-header>
                        <ion-icon name="paper"></ion-icon> {{'news.news' | translate}}
                    </ion-list-header>
                    <ion-item (click)="openModal({data: firstNews, from: 'news.news'})">
                        <img class="firstImg" src="http://cache4.asset-cache.net/xt/531654252.jpg?v=1&g=fs1|0|SKP246|62|222&s=1&b=RUY3%22" item-left/>
                        <h1 text-left>{{firstNews.title}}</h1>
                        <div class="sub-title">
                            <div class="sub-element">
                                <div class="separator"></div>
                            </div>
                            <div class="sub-element">
                                <p text-right>{{firstNews.pubDate | date:"dd/MM/yy"}}</p>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                    </ion-item>

                    <ion-item class="item-news" *ngFor="let new of news; let i = index" (click)="openModal({data: new, from: 'news.news'})">
                        <ion-thumbnail item-left>
                        <img class="img-thumbnail" src="http://cache4.asset-cache.net/xt/532{{i}}51222.jpg?v=1&g=fs1|0|SKP246|62|222&s=1&b=RUY3%22">
                        </ion-thumbnail>
                        <h2>{{new.title}}</h2>
                        <p>{{new.pubDate | date:"dd/MM/yy"}}</p>
                    </ion-item>

                </ion-list>
            </ion-col>
            <ion-col width-40 *ngIf="loaded[1] && loaded[2]">
                <ion-card>
                    <img class="img" src="assets/img/campus.png"/>
                    <div class="card-title">{{meteo.temp}}°C
                    </div>
                    <div class="card-subtitle" text-capitalize>{{meteo.weather}}</div>
                
                    <ion-item>
                        <ion-grid>
                            <ion-row>
                                <ion-col *ngFor="let day of meteo.list" width-33 text-center>
                                    <h2 *ngIf="lang === 'fr'">{{day.d | translate}} {{day.dt}}</h2>
                                    <h2 *ngIf="lang === 'en'">{{day.dt}} {{day.d | translate}}</h2>
                                    <p><span class="min">{{day.temp.min}}°C</span> - <span class="max">{{day.temp.max}}°C</span></p>
                                    <img class="icon" src="http://openweathermap.org/img/w/{{day.weather[0].icon}}.png" alt="" />
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-card>
                <ion-list no-border>
                    <ion-list-header>
                        <ion-icon name="calendar"></ion-icon> {{'news.events' | translate}}
                    </ion-list-header>

                    <ion-item *ngFor="let agd of agenda" (click)="openModal({data: agd, from: 'news.events' })">
                        <ion-note item-left text-center class="bold">
                        <h1 uga >15</h1>
                        <h6 style="color:black;font-weight:650;">Aout</h6>
                        </ion-note>
                        <p class="title">{{agd.title}}</p>

                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
